<div class="container">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>DÉBITOS DO MÊS [Janeiro] (RESUMO)</mat-card-title>
    <mat-card-subtitle>Gastos referentes ao mês de janeiro.</mat-card-subtitle>
  </mat-card-header>
  <app-spendings-list></app-spendings-list>
  <p class="details">DETALHAR</p>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>XXXXXXXXXXXXXXXXXXXXXXXXXXXX</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>

