<div class="container">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>SALDO ATUAL</mat-card-title>
    <mat-card-subtitle>R$ xx,xx</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>RECEITA</mat-card-title>
    <mat-card-subtitle>R$ xx,xx</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>DESPESAS</mat-card-title>
    <mat-card-subtitle>R$ xx,xx</mat-card-subtitle>
  </mat-card-header>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>CARTÃO DE CRÉDITO</mat-card-title>
    <mat-card-subtitle>R$ xx,xx</mat-card-subtitle>
  </mat-card-header>
</mat-card>
</div>
